<!DOCTYPE html>
<html>
  <head>
    <title>Prueba2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'divise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>NAVBAR</nav>
    <%= render 'navbar' %>
    <%= yield %>
    
    <footer>
      <h3></h3>
    </footer>
  </body>
</html>
